In [16]:
import pandas as pd
import math

In [20]:
order = pd.read_excel('data_order.xlsx')
for index, row in order.iterrows():
    if math.isnan(row['conf_buy']):
        print('hahah')
order

hahah
hahah

,tanggal,kode,buy,lot_buy,conf_buy,sl,tp1,lot_tp1,conf_tp1,tp2,lot_tp2,conf_tp2
0,2023-04-23,ANTM,1000,1,NaN,900,1500,NaN,NaN,2000,NaN,NaN
1,2023-04-24,ANTM,1000,1,NaN,900,1500,NaN,NaN,2000,NaN,NaN